.actionButtonContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.actionButton {
  padding: 20px 30px;
  font-size: 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2a9d8f;
  color: white;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #21867a;
}

/* 출동 시 1초마다 깜빡이는 효과 */
.flash {
  background-color: red !important;
}
